<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="assets/nest-logo.png">
    <title>Nest Thermostat Monitoring</title>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
        <div class="container">
            <a href="/" class="text-light">THINKSPEAK DEVICES MONITOR</a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/home">Home</a>
                    <a class="nav-item nav-link active" href="/settings">Settings
                        <span class="sr-only">(current)</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <main class="container mt-3">
        <div class="d-flex flex-row justify-content-between align-items-center border-primary border-bottom">
            <span class="h3">Devices</span>
            <button class="btn btn-primary btn-raised" data-toggle="modal" data-target="#add-device-modal" role="button">&plus; Add Device</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="add-device-modal" tabindex="-1" role="dialog" aria-labelledby="add-device-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add-device-modal-label">New Device</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/devices/add" method="POST">

                        <div class="modal-body">
                            <fieldset class="form-group">
                                <label for="add-display-name" class="bmd-label-floating">Enter Display Name</label>
                                <input type="text" class="form-control" id="add-display-name" name="display_name" required>
                                <span class="bmd-help">Example: "livingRoomThermostat".</span>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="add-api-key" class="bmd-label-floating">Enter API Key</label>
                                <input type="text" class="form-control" id="add-api-key" name="api_key" required>
                                <span class="bmd-help">API Key provided by ThinkSpeak for this device</span>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="add-channel-id" class="bmd-label-floating">Enter Channel ID</label>
                                <input type="text" class="form-control" id="add-channel-id" name="channel_id" required>
                                <span class="bmd-help">Channel ID provided by ThinkSpeak for this device</span>
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="add-target-temp" class="bmd-label-floating">Enter Target Temparature</label>
                                <input type="text" class="form-control" id="add-target-temp" name="target" required>
                                <span class="bmd-help">What is the targeted temperature for this device</span>
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="add-max-target-temp" class="bmd-label-floating">Enter Target Maximum Temparature</label>
                                <input type="text" class="form-control" id="add-max-target-temp" name="target_max" required>
                                <span class="bmd-help">What is the targeted maximum temperature for this device</span>
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="add-min-target-temp" class="bmd-label-floating">Enter Target Minimum Temparature</label>
                                <input type="text" class="form-control" id="add-min-target-temp" name="target_min" required>
                                <span class="bmd-help">What is the targeted minimum temperature for this device</span>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="btn-add-device" class="btn btn-primary" role="button">Add Device</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mt-3" id="devices-accordion">
            <% if(devices.length > 0){ %>
                <% for(let i=0; i < devices.length; i++) { %>
                    <div class="settings-card">
                        <div class="card-header" data-toggle="collapse" data-target="#<%= devices[i]._id %>" aria-expanded="true" aria-controls="<%= devices[i]._id %>"
                            role="button">
                            <span class="mb-0 text-primary h5">
                                <%= devices[i].display_name %>
                            </span>
                        </div>

                        <div id="<%= devices[i]._id %>" class="collapse show" aria-labelledby="<%= devices[i]._id %>" data-parent="#devices-accordion">
                            <div class="card-body">
                                <div class="row mt-3">
                                    <div class="col-6">Display Name</div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" data-config="display_name" value="<%= devices[i].display_name %>">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">API Key</div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" data-config="api_key" value="<%= devices[i].api_key %>">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">Channel ID</div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" data-config="channel_id" value="<%= devices[i].channel_id %>">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">Target Temperature</div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" data-config="target" value="<%= devices[i].target %>">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6">Maximum Target Temperature</div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" data-config="target_max" value="<%= devices[i].target_max %>">
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-6">Minimum Target Temperature</div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" data-config="target_min" value="<%= devices[i].target_min %>">
                                    </div>
                                </div>
                                <div class="d-flex flex-row flex-wrap align-items-center mt-3">
                                    <button class="btn btn-success btn-raised btn-update-device mr-3" role="button" data-device-id="<%= devices[i]._id %>" data-device-name="<%= devices[i].display_name %>">&#10003; Update Settings</button>
                                    <button class="btn btn-danger btn-raised btn-delete-device" role="button" data-device-id="<%= devices[i]._id %>" data-device-name="<%= devices[i].display_name %>">&times; Delete Device</button>
                                </div>
                            </div>
                        </div>
                        </form>
                        <% } %>
                            <% } else{ %>
                                <% } %>
                    </div>
    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.2/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script src="js/settings.js"></script>
</body>

</html>